body {
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    padding: 0px 240px 0px 240px;
}

.web-tittle {
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}

span {
    color: white;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
}

.header {
    background-color: #E554731A;
}

h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0 px;
}

button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-bottom: 30px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner {
    display: flex;
    padding: 0px 240px 0px 240px;
    justify-content: space-between;
    align-items: center;
}

.banner.main {
    width: 635px;
    height: 800px;
    padding: 0px 240px 0px 100px;
}
/*maim*/
.featured {
       justify-content: space-between;
       margin-top: 130px;
}

.container{
    display: flex;
    column-gap: 50px;
    margin: 0px  auto;
    justify-content: center;
}
.tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding-top: 120px;
}

.description {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
}

.tulip {
    background-image: url(images/Rectangle\ 3\ \(2\).png);
    background-size: cover;
    background-position: bottom;
    padding: 170px 78px 0px 78px;
    justify-content: center;
}
.sunflower{
    background-image: url(images/Rectangle\ 3\ \(3\).png);
    background-size: cover;
    background-position: bottom;
    padding: 110px 47px;
}
.tulip-yellow{
    background-image: url(images/Rectangle\ 3\ \(4\).png);
    background-size: cover;
    background-position: bottom;
    padding: 117px 75px 0px 76px;
}
.hott{
    margin-top: 140px;
    background-color: #E554730D;
}
.hot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta{
    margin-top: 40px;
}
.get-the{
    background-image: url(images/Rectangle\ 9.png);
    background-size: auto;
    justify-content: stretch;
    margin: 20px auto;
margin-left: auto;
margin-right: auto;

}
.latest{
    display: flex;
}
.get{
    margin-top: 100px;
    justify-content: center;
}
.hot-deals{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-tittle{
    padding-top: 122px;
}
.contact input, textarea{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
}
.footer-description{
    color: #FFFFFFE5;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 24px auto ;
}
.ending{
    justify-content: center;
    text-align: center;
    background-color: #111010;
    padding-top: 70px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.small{
    color: #FFFFFF66;
text-align: center;
font-size: 16px;
font-weight: 400;
}